<header id="header" class="header">
    <div class="hello-bar">
        <div class="container">
            <div class="hello__wrapper">
                <p><span class="location-icon"></span>8841 S. Redwood Road, Suite 2-C, West Jordan, UT 84038</p>
                <div class="hello__right">
                    <a href="tel:8014556886" class="hello__link" ><span class="phone-icon"></span>(801) 455-6886</a>
                    <a href="mailto:info@nat-rea.com" class="hello__link" ><span class="mail-icon"></span>info@nat-rea.com</a>
                </div>
            </div>
        </div>
    </div>
    <nav id="nav" class="nav" role="navigation">
        <div class="nav__container">
            <a href="/" class="nav__brand">
                <img src="{{ theme.path ~ '/static/img/natrea-logo.svg' }}" alt="" class="nav__logo">
            </a>
            <div class="nav__menu">
                <a class="nav__link" href="#about">About</a>
                <a class="nav__link" href="#contact">Contact Us</a>
                <a href="https://calendly.com/nat-rea" target="_blank" class="nav__btn"><span class="phone-icon"></span>Book a call</a>
            </div>
				<div class="nav__hamburger"></div>
        </div>
    </nav>
</header>